Repository square/workflow, pull requests merged in 2020-06, with the labels that each got.

#1184 Upgrade Gradle to latest version.
  kotlin/buildSrc/src/main/java/Dependencies.kt
Labels: kotlin

#1189 Remove mention of Android template repo from README
  README.md
Labels: documentation, kotlin

#1195 Rename all references to master branch to trunk in build scripts and documentation.
  .buildscript/deploy_snapshot.sh
  .github/workflows/kotlin.yml
  .github/workflows/release.yml
  .github/workflows/swift.yaml
  RELEASING.md
  docs/faq.md
  docs/tutorial/index.md
Labels: meta

#1196 Rename all occurences of Master/Detail to Overview/Detail.
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/SampleContainers.kt
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/overviewdetail/OverviewDetailConfig.kt
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/overviewdetail/OverviewDetailContainer.kt
  kotlin/samples/containers/android/src/main/res/layout-ldrtl/overview_detail_split.xml
  kotlin/samples/containers/android/src/main/res/layout/overview_detail_single.xml
  kotlin/samples/containers/android/src/main/res/layout/overview_detail_split.xml
  kotlin/samples/containers/android/src/main/res/values-land/layout.xml
  kotlin/samples/containers/android/src/main/res/values-sw600dp/layout.xml
  kotlin/samples/containers/android/src/main/res/values/layout.xml
  kotlin/samples/containers/app-poetry/src/main/java/com/squareup/sample/poetryapp/PoemListLayoutRunner.kt
  kotlin/samples/containers/app-poetry/src/main/java/com/squareup/sample/poetryapp/PoemsBrowserWorkflow.kt
  kotlin/samples/containers/common/src/main/java/com/squareup/sample/container/overviewdetail/OverviewDetailScreen.kt
  kotlin/samples/containers/common/src/test/java/com/squareup/sample/container/overviewdetail/OverviewDetailScreenTest.kt
  kotlin/samples/containers/poetry/src/main/java/com/squareup/sample/poetry/PoemWorkflow.kt
  kotlin/samples/containers/poetry/src/main/java/com/squareup/sample/poetry/StanzaLayoutRunner.kt
  kotlin/samples/containers/poetry/src/main/java/com/squareup/sample/poetry/StanzaListLayoutRunner.kt
  kotlin/samples/todo-android/app/src/main/java/com/squareup/sample/mainactivity/MainActivity.kt
  kotlin/samples/todo-android/app/src/main/java/com/squareup/sample/mainactivity/TodoListsViewFactory.kt
  kotlin/samples/todo-android/common/src/main/java/com/squareup/sample/todo/TodoListsAppWorkflow.kt
Labels: kotlin

#1180 Simplify the entry point into the workflow runtime.
  kotlin/build.gradle.kts
  kotlin/samples/hello-terminal/terminal-workflow/src/main/java/com/squareup/sample/helloterminal/terminalworkflow/TerminalWorkflowRunner.kt
  kotlin/workflow-runtime/api/workflow-runtime.api
  kotlin/workflow-runtime/build.gradle.kts
  kotlin/workflow-runtime/src/main/java/com/squareup/workflow/LaunchWorkflow.kt
  kotlin/workflow-runtime/src/main/java/com/squareup/workflow/RenderingAndSnapshot.kt
  kotlin/workflow-runtime/src/main/java/com/squareup/workflow/internal/WorkflowNode.kt
  kotlin/workflow-runtime/src/main/java/com/squareup/workflow/internal/WorkflowRunner.kt
  kotlin/workflow-runtime/src/test/java/com/squareup/workflow/RenderWorkflowInTest.kt
  kotlin/workflow-runtime/src/test/java/com/squareup/workflow/internal/WorkflowDiagnosticListenerIntegrationTest.kt
  kotlin/workflow-runtime/src/test/java/com/squareup/workflow/internal/WorkflowDiagnosticListenerLegacyIntegrationTest.kt
  kotlin/workflow-runtime/src/test/java/com/squareup/workflow/internal/WorkflowRunnerTest.kt
  kotlin/workflow-testing/src/main/java/com/squareup/workflow/testing/WorkflowTester.kt
  kotlin/workflow-testing/src/test/java/com/squareup/workflow/WorkerStressTest.kt
  kotlin/workflow-tracing/src/test/java/com/squareup/workflow/diagnostic/tracing/TracingDiagnosticListenerTest.kt
  kotlin/workflow-tracing/src/test/resources/com/squareup/workflow/diagnostic/tracing/expected_trace_file.txt
  kotlin/workflow-ui/core-android/api/core-android.api
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowRunner.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowRunnerViewModel.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/WorkflowRunnerViewModelTest.kt
Labels: enhancement, kotlin

#1173 Allowing opt-out of lenient worker expectations
  kotlin/workflow-testing/api/workflow-testing.api
  kotlin/workflow-testing/src/main/java/com/squareup/workflow/testing/RealRenderTester.kt
  kotlin/workflow-testing/src/main/java/com/squareup/workflow/testing/RenderTester.kt
  kotlin/workflow-testing/src/test/java/com/squareup/workflow/testing/RealRenderTesterTest.kt
Labels: kotlin

#1207 Rename trunk branch to main.
  .github/workflows/release.yml
  docs/faq.md
  docs/tutorial/index.md
Labels: meta
