Repository square/workflow, pull requests merged in 2020-04, with the labels that each got.

#1058 Add Github Actions badges to README
  README.md
Labels: kotlin, meta, swift

#1060 Add a Github Workflow to automatically publish the doc site when release tags are pushed.
  .github/workflows/deploy-doc-site.yml
  .github/workflows/validate-documentation.yml
  RELEASING.md
  deploy_website.sh
Labels: documentation, kotlin, meta, swift

#1067 Improve naming in validate-documentation workflow
  .github/workflows/validate-documentation.yml
Labels: documentation, meta

#1062 Increase CI timeout for Kotlin assemble job
  .github/workflows/kotlin.yml
Labels: kotlin, meta

#1066 Fix Gradle config to generate correct multi-module dokka docs.
  .github/workflows/deploy-doc-site.yml
  .github/workflows/validate-documentation.yml
  RELEASING.md
  deploy_website.sh
  kotlin/.buildscript/configure-dokka.gradle
  kotlin/build.gradle
  kotlin/trace-encoder/build.gradle
  kotlin/workflow-core/build.gradle
  kotlin/workflow-runtime/build.gradle
  kotlin/workflow-rx2/build.gradle
  kotlin/workflow-testing/build.gradle
  kotlin/workflow-tracing/build.gradle
  kotlin/workflow-ui/backstack-android/build.gradle
  kotlin/workflow-ui/backstack-common/build.gradle
  kotlin/workflow-ui/core-android/build.gradle
  kotlin/workflow-ui/core-common/build.gradle
  kotlin/workflow-ui/modal-android/build.gradle
  kotlin/workflow-ui/modal-common/build.gradle
  mkdocs.yml
Labels: documentation, kotlin, meta

#1072 Remove gradle wrapper cache
  .github/workflows/kotlin.yml
Labels: kotlin, meta

#1071 Increase CI timeout for Kotlin assemble job (for real)
  .github/workflows/kotlin.yml
Labels: kotlin, meta

#1070 Move dependency declarations to buildSrc.
  kotlin/.buildscript/android-ui-tests.gradle
  kotlin/.buildscript/configure-compose.gradle
  kotlin/build.gradle
  kotlin/buildSrc/build.gradle.kts
  kotlin/buildSrc/src/main/java/Dependencies.kt
  kotlin/internal-testing-utils/build.gradle
  kotlin/legacy/legacy-workflow-core/build.gradle
  kotlin/legacy/legacy-workflow-rx2/build.gradle
  kotlin/samples/containers/android/build.gradle
  kotlin/samples/containers/app-poetry/build.gradle
  kotlin/samples/containers/app-raven/build.gradle
  kotlin/samples/containers/common/build.gradle
  kotlin/samples/containers/hello-back-button/build.gradle
  kotlin/samples/containers/poetry/build.gradle
  kotlin/samples/dungeon/app/build.gradle
  kotlin/samples/dungeon/common/build.gradle
  kotlin/samples/dungeon/timemachine-shakeable/build.gradle
  kotlin/samples/dungeon/timemachine/build.gradle
  kotlin/samples/hello-compose-binding/build.gradle
  kotlin/samples/hello-terminal/terminal-workflow/build.gradle
  kotlin/samples/hello-workflow-fragment/build.gradle
  kotlin/samples/hello-workflow/build.gradle
  kotlin/samples/recyclerview/build.gradle
  kotlin/samples/tictactoe/app/build.gradle
  kotlin/samples/tictactoe/common/build.gradle
  kotlin/samples/todo-android/app/build.gradle
  kotlin/samples/todo-android/common/build.gradle
  kotlin/trace-encoder/build.gradle
  kotlin/workflow-core/build.gradle
  kotlin/workflow-runtime/build.gradle
  kotlin/workflow-rx2/build.gradle
  kotlin/workflow-testing/build.gradle
  kotlin/workflow-tracing/build.gradle
  kotlin/workflow-ui/backstack-android/build.gradle
  kotlin/workflow-ui/backstack-common/build.gradle
  kotlin/workflow-ui/core-android/build.gradle
  kotlin/workflow-ui/core-common/build.gradle
  kotlin/workflow-ui/core-compose/build.gradle
  kotlin/workflow-ui/modal-android/build.gradle
  kotlin/workflow-ui/modal-common/build.gradle
Labels: dependencies, kotlin, meta

#1075 Fix running deploy_website.sh locally and fix the path filter for the deploy workflow.
  .github/workflows/deploy-doc-site.yml
  deploy_website.sh
Labels: documentation, meta

#1074 Fix Kotlin build caching.
  .github/workflows/kotlin.yml
  deploy_website.sh
Labels: kotlin, meta

#1018 Upgrade kotlinx.serialization now that KAML supports it.
  kotlin/buildSrc/src/main/java/Dependencies.kt
Labels: dependencies, kotlin

#1049 Upgrade gradle to 6.3.
  kotlin/gradle/wrapper/gradle-wrapper.jar
  kotlin/gradle/wrapper/gradle-wrapper.properties
Labels: kotlin

#1051 Vend `preferredContentSize` through the `DescribedViewController`
  swift/WorkflowUI/Sources/ViewControllerDescription/DescribedViewController.swift
  swift/WorkflowUI/Tests/DescribedViewControllerTests.swift
Labels: bug, swift

#1094 Provide empty `makeInitialState` and `workflowDidChange` when State is Void
  swift/Workflow/Sources/Workflow.swift
  swift/WorkflowUI/Sources/Container/ContainerViewController+AnyWorkflow.swift
Labels: swift

#1110 Upgrade AGP to beta 5.
  kotlin/buildSrc/src/main/java/Dependencies.kt
Labels: dependencies, kotlin

#1111 Remove context.subscribe
  swift/Samples/SampleApp/Sources/DemoWorkflow.swift
  swift/Workflow/Sources/RenderContext.swift
  swift/Workflow/Sources/SubtreeManager.swift
  swift/Workflow/Tests/ConcurrencyTests.swift
  swift/Workflow/Tests/SubtreeManagerTests.swift
  swift/WorkflowTesting/Sources/WorkflowRenderTester.swift
  swift/WorkflowUI/Tests/ContainerViewControllerTests.swift
Labels: swift

#1113 Add dependency update as a change type to the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta

#1112 Upgrade compose to dev09.
  kotlin/buildSrc/src/main/java/Dependencies.kt
  kotlin/samples/hello-compose-binding/src/main/java/com/squareup/sample/hellocomposebinding/HelloBinding.kt
  kotlin/workflow-ui/core-compose/src/main/java/com/squareup/workflow/ui/compose/ComposeViewFactory.kt
Labels: dependencies, kotlin
