Repository square/workflow, pull requests merged in 2020-03, with the labels that each got.

#993 Upgrade Kotlin to 1.3.70 and fix related build errors.
  kotlin/build.gradle
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/BoardLoader.kt
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/Component.kt
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/DungeonApplication.kt
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/TimeMachineAppWorkflow.kt
  kotlin/samples/dungeon/common/src/main/java/com/squareup/sample/dungeon/AiWorkflow.kt
  kotlin/samples/dungeon/timemachine-shakeable/src/main/java/com/squareup/sample/timemachine/shakeable/ShakeWorker.kt
  kotlin/samples/dungeon/timemachine-shakeable/src/main/java/com/squareup/sample/timemachine/shakeable/ShakeableTimeMachineLayoutRunner.kt
  kotlin/samples/dungeon/timemachine/src/main/java/com/squareup/sample/timemachine/RecorderWorkflow.kt
  kotlin/samples/dungeon/timemachine/src/main/java/com/squareup/sample/timemachine/TimeMachineWorkflow.kt
  kotlin/samples/dungeon/timemachine/src/main/java/com/squareup/sample/timemachine/TimeSeries.kt
  kotlin/samples/dungeon/timemachine/src/test/java/com/squareup/sample/timemachine/RecorderWorkflowTest.kt
  kotlin/samples/dungeon/timemachine/src/test/java/com/squareup/sample/timemachine/TimeMachineWorkflowTest.kt
  kotlin/samples/dungeon/timemachine/src/test/java/com/squareup/sample/timemachine/TimeSeriesTest.kt
  kotlin/samples/hello-terminal/terminal-workflow/src/main/java/com/squareup/sample/helloterminal/terminalworkflow/KeyStroke.kt
  kotlin/samples/hello-terminal/terminal-workflow/src/main/java/com/squareup/sample/helloterminal/terminalworkflow/TerminalSize.kt
  kotlin/samples/hello-terminal/terminal-workflow/src/main/java/com/squareup/sample/helloterminal/terminalworkflow/TerminalWorkflowRunner.kt
  kotlin/trace-encoder/api/trace-encoder.api
  kotlin/trace-encoder/src/main/java/com/squareup/tracing/TraceEncoder.kt
  kotlin/trace-encoder/src/test/java/com/squareup/tracing/TraceEncoderTest.kt
  kotlin/workflow-core/src/main/java/com/squareup/workflow/VeryExperimentalWorkflow.kt
  kotlin/workflow-core/src/main/java/com/squareup/workflow/Worker.kt
  kotlin/workflow-runtime/src/main/java/com/squareup/workflow/LaunchWorkflow.kt
  kotlin/workflow-runtime/src/main/java/com/squareup/workflow/diagnostic/ChainedDiagnosticListener.kt
  kotlin/workflow-runtime/src/main/java/com/squareup/workflow/diagnostic/SimpleLoggingDiagnosticListener.kt
  kotlin/workflow-runtime/src/main/java/com/squareup/workflow/internal/Workers.kt
  kotlin/workflow-runtime/src/main/java/com/squareup/workflow/internal/WorkflowLoop.kt
  kotlin/workflow-runtime/src/main/java/com/squareup/workflow/internal/WorkflowNode.kt
  kotlin/workflow-runtime/src/test/java/com/squareup/workflow/diagnostic/DebugSnapshotRecordingListenerTest.kt
  kotlin/workflow-runtime/src/test/java/com/squareup/workflow/internal/LaunchWorkflowTest.kt
  kotlin/workflow-runtime/src/test/java/com/squareup/workflow/internal/WorkflowDiagnosticListenerIntegrationTest.kt
  kotlin/workflow-testing/src/test/java/com/squareup/workflow/WorkerStressTest.kt
  kotlin/workflow-testing/src/test/java/com/squareup/workflow/testing/WorkerSinkTest.kt
  kotlin/workflow-tracing/src/main/java/com/squareup/workflow/diagnostic/tracing/TracingDiagnosticListener.kt
  kotlin/workflow-tracing/src/test/java/com/squareup/workflow/diagnostic/tracing/TracingDiagnosticListenerTest.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowRunnerViewModel.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/WorkflowRunnerViewModelTest.kt
Labels: dependencies, kotlin

#998 Fix build.gradle to use renamed compiler flag -Xopt-in
  kotlin/build.gradle
Labels: kotlin

#1003 Upgrade gradle to 6.2.2.
  kotlin/gradle/wrapper/gradle-wrapper.properties
  kotlin/gradlew.bat
Labels: kotlin

#1005 Rename ContainerHints to ViewEnvironment to match Swift.
  kotlin/legacy/legacy-workflow-core/src/test/java/com/squareup/workflow/legacy/ReactorAsWorkflowIntegrationTest.kt
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/BackButtonScreen.kt
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/masterdetail/MasterDetailConfig.kt
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/masterdetail/MasterDetailContainer.kt
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/panel/ScrimContainer.kt
  kotlin/samples/containers/app-poetry/src/main/java/com/squareup/sample/poetryapp/PoemListLayoutRunner.kt
  kotlin/samples/containers/hello-back-button/src/main/java/com/squareup/sample/hellobackbutton/HelloBackButtonLayoutRunner.kt
  kotlin/samples/containers/poetry/src/main/java/com/squareup/sample/poetry/StanzaLayoutRunner.kt
  kotlin/samples/containers/poetry/src/main/java/com/squareup/sample/poetry/StanzaListLayoutRunner.kt
  kotlin/samples/containers/poetry/src/main/java/com/squareup/sample/poetry/StanzaWorkflow.kt
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/BoardsListLayoutRunner.kt
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/GameLayoutRunner.kt
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/LoadingBinding.kt
  kotlin/samples/dungeon/timemachine-shakeable/src/main/java/com/squareup/sample/timemachine/shakeable/ShakeableTimeMachineLayoutRunner.kt
  kotlin/samples/dungeon/timemachine/src/main/java/com/squareup/sample/timemachine/RecorderWorkflow.kt
  kotlin/samples/hello-workflow-fragment/src/main/java/com/squareup/sample/helloworkflowfragment/HelloFragmentLayoutRunner.kt
  kotlin/samples/hello-workflow-fragment/src/main/java/com/squareup/sample/helloworkflowfragment/HelloWorkflowFragment.kt
  kotlin/samples/hello-workflow/src/main/java/com/squareup/sample/helloworkflow/HelloLayoutRunner.kt
  kotlin/samples/recyclerview/src/main/java/com/squareup/sample/recyclerview/BaseScreenLayoutRunner.kt
  kotlin/samples/recyclerview/src/main/java/com/squareup/sample/recyclerview/ChooseRowTypeViewBinding.kt
  kotlin/samples/recyclerview/src/main/java/com/squareup/sample/recyclerview/editablelistworkflow/EditableListLayoutRunner.kt
  kotlin/samples/recyclerview/src/main/java/com/squareup/sample/recyclerview/editablelistworkflow/ListDiffMode.kt
  kotlin/samples/tictactoe/app/src/androidTest/java/com/squareup/sample/TicTacToeEspressoTest.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/authworkflow/AuthorizingLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/authworkflow/LoginLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/authworkflow/SecondFactorLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/gameworkflow/GameOverLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/gameworkflow/GamePlayLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/gameworkflow/NewGameLayoutRunner.kt
  kotlin/samples/todo-android/app/src/main/java/com/squareup/sample/mainactivity/ItemListView.kt
  kotlin/samples/todo-android/app/src/main/java/com/squareup/sample/mainactivity/TodoEditorLayoutRunner.kt
  kotlin/samples/todo-android/app/src/main/java/com/squareup/sample/mainactivity/TodoListsLayoutRunner.kt
  kotlin/trace-encoder/src/test/java/com/squareup/tracing/TraceEncoderTest.kt
  kotlin/workflow-tracing/src/test/java/com/squareup/workflow/diagnostic/tracing/TracingDiagnosticListenerTest.kt
  kotlin/workflow-ui/backstack-android/api/backstack-android.api
  kotlin/workflow-ui/backstack-android/src/main/java/com/squareup/workflow/ui/backstack/BackStackConfig.kt
  kotlin/workflow-ui/backstack-android/src/main/java/com/squareup/workflow/ui/backstack/BackStackContainer.kt
  kotlin/workflow-ui/core-android/api/core-android.api
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/BindingViewRegistry.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/BuilderBinding.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/CompositeViewRegistry.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/LayoutRunner.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/NamedBinding.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/ViewBinding.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/ViewEnvironment.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/ViewRegistry.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/ViewShowRendering.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowFragment.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowLayout.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowRunner.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowViewStub.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/CompositeViewRegistryTest.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/TestBinding.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/ViewEnvironmentTest.kt
  kotlin/workflow-ui/core-compose/api/core-compose.api
  kotlin/workflow-ui/core-compose/src/main/java/com/squareup/workflow/ui/compose/ComposeViewBinding.kt
  kotlin/workflow-ui/modal-android/api/modal-android.api
  kotlin/workflow-ui/modal-android/src/main/java/com/squareup/workflow/ui/modal/AlertContainer.kt
  kotlin/workflow-ui/modal-android/src/main/java/com/squareup/workflow/ui/modal/ModalContainer.kt
  kotlin/workflow-ui/modal-android/src/main/java/com/squareup/workflow/ui/modal/ModalViewContainer.kt
Labels: kotlin, platform inconsistency

#1010 Upgrade coroutines libraries to 1.3.4.
  kotlin/build.gradle
  kotlin/workflow-runtime/src/test/java/com/squareup/workflow/internal/WorkflowDiagnosticListenerIntegrationTest.kt
  kotlin/workflow-tracing/src/test/resources/com/squareup/workflow/diagnostic/tracing/expected_trace_file.txt
Labels: dependencies, kotlin

#1011 Enable AndroidX test orchestrator to try to reduce flakiness.
  kotlin/.buildscript/android-ui-tests.gradle
  kotlin/samples/containers/app-poetry/build.gradle
  kotlin/samples/containers/app-raven/build.gradle
  kotlin/samples/containers/hello-back-button/build.gradle
  kotlin/samples/dungeon/app/build.gradle
  kotlin/samples/hello-compose-binding/build.gradle
  kotlin/samples/hello-workflow-fragment/build.gradle
  kotlin/samples/hello-workflow/build.gradle
  kotlin/samples/recyclerview/build.gradle
  kotlin/samples/tictactoe/app/build.gradle
  kotlin/samples/todo-android/app/build.gradle
Labels: kotlin

#1009 Rename Kotlin's ViewBinding to ViewFactory.
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/BackButtonScreen.kt
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/masterdetail/MasterDetailContainer.kt
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/panel/PanelContainer.kt
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/panel/ScrimContainer.kt
  kotlin/samples/containers/app-poetry/src/main/java/com/squareup/sample/poetryapp/PoemListLayoutRunner.kt
  kotlin/samples/containers/hello-back-button/src/main/java/com/squareup/sample/hellobackbutton/HelloBackButtonLayoutRunner.kt
  kotlin/samples/containers/poetry/src/main/java/com/squareup/sample/poetry/StanzaLayoutRunner.kt
  kotlin/samples/containers/poetry/src/main/java/com/squareup/sample/poetry/StanzaListLayoutRunner.kt
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/BoardView.kt
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/BoardsListLayoutRunner.kt
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/GameLayoutRunner.kt
  kotlin/samples/dungeon/app/src/main/java/com/squareup/sample/dungeon/LoadingBinding.kt
  kotlin/samples/dungeon/timemachine-shakeable/src/main/java/com/squareup/sample/timemachine/shakeable/ShakeableTimeMachineLayoutRunner.kt
  kotlin/samples/hello-workflow-fragment/src/main/java/com/squareup/sample/helloworkflowfragment/HelloFragmentLayoutRunner.kt
  kotlin/samples/hello-workflow/src/main/java/com/squareup/sample/helloworkflow/HelloLayoutRunner.kt
  kotlin/samples/recyclerview/src/main/java/com/squareup/sample/recyclerview/AddRowContainer.kt
  kotlin/samples/recyclerview/src/main/java/com/squareup/sample/recyclerview/BaseScreenLayoutRunner.kt
  kotlin/samples/recyclerview/src/main/java/com/squareup/sample/recyclerview/ChooseRowTypeViewFactory.kt
  kotlin/samples/recyclerview/src/main/java/com/squareup/sample/recyclerview/EditableListActivity.kt
  kotlin/samples/recyclerview/src/main/java/com/squareup/sample/recyclerview/editablelistworkflow/EditableListLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/authworkflow/AuthViewBindings.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/authworkflow/AuthorizingLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/authworkflow/LoginLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/authworkflow/SecondFactorLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/gameworkflow/GameOverLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/gameworkflow/GamePlayLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/gameworkflow/NewGameLayoutRunner.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/gameworkflow/TicTacToeViewBindings.kt
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/mainactivity/MainActivity.kt
  kotlin/samples/todo-android/app/src/main/java/com/squareup/sample/mainactivity/TodoEditorLayoutRunner.kt
  kotlin/samples/todo-android/app/src/main/java/com/squareup/sample/mainactivity/TodoListsLayoutRunner.kt
  kotlin/workflow-ui/backstack-android/api/backstack-android.api
  kotlin/workflow-ui/backstack-android/src/main/java/com/squareup/workflow/ui/backstack/BackStackContainer.kt
  kotlin/workflow-ui/core-android/api/core-android.api
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/BindingViewRegistry.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/BuilderBinding.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/CompositeViewRegistry.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/LayoutRunner.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/NamedBinding.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/ViewFactory.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/ViewRegistry.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/ViewShowRendering.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowLayout.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowViewStub.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/BindingViewRegistryTest.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/CompositeViewRegistryTest.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/TestBinding.kt
  kotlin/workflow-ui/core-compose/README.md
  kotlin/workflow-ui/core-compose/api/core-compose.api
  kotlin/workflow-ui/core-compose/src/main/java/com/squareup/workflow/ui/compose/ComposeViewFactory.kt
  kotlin/workflow-ui/modal-android/api/modal-android.api
  kotlin/workflow-ui/modal-android/src/main/java/com/squareup/workflow/ui/modal/AlertContainer.kt
  kotlin/workflow-ui/modal-android/src/main/java/com/squareup/workflow/ui/modal/ModalViewContainer.kt
Labels: kotlin

#1004 Upgrade Compose to dev06.
  kotlin/build.gradle
  kotlin/workflow-ui/core-compose/api/core-compose.api
Labels: dependencies, kotlin

#985 Introduce a view binding function that works with AndroidX ViewBindings.
  kotlin/build.gradle
  kotlin/gradle.properties
  kotlin/samples/hello-workflow/build.gradle
  kotlin/samples/hello-workflow/src/main/java/com/squareup/sample/helloworkflow/HelloViewFactory.kt
  kotlin/samples/hello-workflow/src/main/java/com/squareup/sample/helloworkflow/HelloWorkflowActivity.kt
  kotlin/samples/hello-workflow/src/main/res/layout/hello_goodbye_layout.xml
  kotlin/workflow-ui/backstack-android/api/backstack-android.api
  kotlin/workflow-ui/core-android/api/core-android.api
  kotlin/workflow-ui/core-android/build.gradle
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/LayoutRunner.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/ViewBindingViewFactory.kt
Labels: enhancement, kotlin

#1035 Disable Android UI tests because they're too flaky.
  .travis.yml
Labels: kotlin

#1032 Revert "Enable AndroidX test orchestrator to try to reduce flakiness."
  kotlin/.buildscript/android-ui-tests.gradle
Labels: kotlin

#1031 Update mkdocs config with new Kotlin UI module structure.
  .gitignore
  deploy_website.sh
  mkdocs.yml
Labels: documentation, kotlin, swift

#1039 Add back in the config that the dungeon crawler UI test needs to skip fake loading.
  .travis.yml
  kotlin/samples/dungeon/app/build.gradle
Labels: kotlin

#1040 Upgrade kotlin to 1.3.71.
  kotlin/build.gradle
Labels: dependencies

#1041 Update Compose to dev07.
  kotlin/build.gradle
  kotlin/samples/hello-compose-binding/src/main/java/com/squareup/sample/hellocomposebinding/HelloBinding.kt
Labels: dependencies, kotlin

#1043 Add kotlin slack badge to README.
  README.md
Labels: kotlin

#1053 Replace Travis with Github Actions for Android CI.
  .github/workflows/kotlin.yml
  .travis.yml
Labels: kotlin

#1057 Replace Travis with Github Actions for Documentation validation CI
  .github/workflows/validate-documentation.yml
  .travis.yml
Labels: documentation, meta

#1052 Replace Travis with Github Actions for Swift CI.
  .github/workflows/swift.yaml
  .travis.yml
  swift/Samples/SnapshotTests/ReferenceImages_64/SplitScreenContainerScreenSnapshotTests/test_splitRatio_custom_iPad.png
  swift/Samples/SnapshotTests/ReferenceImages_64/SplitScreenContainerScreenSnapshotTests/test_splitRatio_half_iPad.png
  swift/Samples/SnapshotTests/ReferenceImages_64/SplitScreenContainerScreenSnapshotTests/test_splitRatio_quarter_iPad.png
  swift/Samples/SnapshotTests/ReferenceImages_64/SplitScreenContainerScreenSnapshotTests/test_splitRatio_third_iPad.png
Labels: swift
