Repository square/workflow, pull requests merged in 2020-05, with the labels that each got.

#1126 Trim the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: meta

#1118 Update Compose to dev10.
  kotlin/.buildscript/configure-compose.gradle
  kotlin/buildSrc/src/main/java/Dependencies.kt
  kotlin/samples/hello-compose-binding/build.gradle.kts
  kotlin/samples/hello-compose-binding/src/androidTest/java/com/squareup/sample/hellocomposebinding/HelloBindingTest.kt
  kotlin/workflow-ui/core-compose/README.md
  kotlin/workflow-ui/core-compose/build.gradle.kts
  kotlin/workflow-ui/core-compose/src/main/java/com/squareup/workflow/ui/compose/ComposeViewFactory.kt
Labels: dependencies, kotlin

#1130 Adds test of empty lambda on testFromStart.
  kotlin/workflow-testing/src/test/java/com/squareup/workflow/testing/WorkflowTesterTest.kt
Labels: kotlin, testing

#1140 Upgrade Gradle to 6.4.
  kotlin/gradle/wrapper/gradle-wrapper.jar
  kotlin/gradle/wrapper/gradle-wrapper.properties
  kotlin/gradlew
  kotlin/gradlew.bat
Labels: kotlin

#1144 Make workflow-ui-android-core declare workflow-runtime as api instead of implementation dependency.
  kotlin/workflow-ui/core-android/build.gradle.kts
Labels: bug, dependencies, kotlin

#1134 Add os_signpost logs for render() and Workflow and Worker lifecycle
  swift/Workflow/Sources/SubtreeManager.swift
  swift/Workflow/Sources/WorkflowLogger.swift
  swift/Workflow/Sources/WorkflowNode.swift
Labels: enhancement, swift

#1147 Extracted Compose support into square/workflow-kotlin-compose.
  kotlin/.buildscript/configure-compose.gradle
  kotlin/build.gradle.kts
  kotlin/buildSrc/src/main/java/Dependencies.kt
  kotlin/samples/hello-compose-binding/build.gradle.kts
  kotlin/samples/hello-compose-binding/src/androidTest/java/com/squareup/sample/hellocomposebinding/HelloBindingTest.kt
  kotlin/samples/hello-compose-binding/src/main/AndroidManifest.xml
  kotlin/samples/hello-compose-binding/src/main/java/com/squareup/sample/hellocomposebinding/HelloBinding.kt
  kotlin/samples/hello-compose-binding/src/main/java/com/squareup/sample/hellocomposebinding/HelloBindingActivity.kt
  kotlin/samples/hello-compose-binding/src/main/java/com/squareup/sample/hellocomposebinding/HelloWorkflow.kt
  kotlin/samples/hello-compose-binding/src/main/res/values/strings.xml
  kotlin/samples/hello-compose-binding/src/main/res/values/styles.xml
  kotlin/settings.gradle.kts
  kotlin/workflow-ui/core-compose/README.md
  kotlin/workflow-ui/core-compose/api/core-compose.api
  kotlin/workflow-ui/core-compose/build.gradle.kts
  kotlin/workflow-ui/core-compose/gradle.properties
  kotlin/workflow-ui/core-compose/src/main/AndroidManifest.xml
  kotlin/workflow-ui/core-compose/src/main/java/com/squareup/workflow/ui/compose/ComposeViewFactory.kt
Labels: dependencies, kotlin

#1149 Remove a bunch of unused rxjava2 dependencies.
  kotlin/samples/containers/android/build.gradle.kts
  kotlin/samples/containers/app-poetry/build.gradle.kts
  kotlin/samples/containers/app-raven/build.gradle.kts
  kotlin/samples/containers/common/build.gradle.kts
  kotlin/samples/containers/hello-back-button/build.gradle.kts
  kotlin/samples/containers/poetry/build.gradle.kts
  kotlin/samples/dungeon/app/build.gradle.kts
  kotlin/samples/dungeon/common/build.gradle.kts
  kotlin/samples/dungeon/timemachine/build.gradle.kts
  kotlin/samples/hello-workflow-fragment/build.gradle.kts
  kotlin/samples/hello-workflow/build.gradle.kts
  kotlin/samples/recyclerview/build.gradle.kts
  kotlin/samples/tictactoe/app/build.gradle.kts
  kotlin/samples/tictactoe/common/build.gradle.kts
  kotlin/samples/todo-android/app/build.gradle.kts
  kotlin/samples/todo-android/common/build.gradle.kts
  kotlin/workflow-ui/backstack-android/build.gradle.kts
  kotlin/workflow-ui/modal-android/build.gradle.kts
Labels: dependencies

#1150 Remove RxJava2 dependency from Workflow Android UI integration.
  kotlin/buildSrc/src/main/java/Dependencies.kt
  kotlin/samples/tictactoe/app/build.gradle.kts
  kotlin/samples/tictactoe/app/src/main/java/com/squareup/sample/mainactivity/MainActivity.kt
  kotlin/workflow-ui/core-android/api/core-android.api
  kotlin/workflow-ui/core-android/build.gradle.kts
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowFragment.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowLayout.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowRunner.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/WorkflowRunnerViewModel.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/WorkflowRunnerViewModelTest.kt
Labels: kotlin

#1148 Simplify ViewRegistry to act more like a simple map of rendering type to ViewFactory.
  kotlin/samples/containers/android/src/main/java/com/squareup/sample/container/BackButtonScreen.kt
  kotlin/workflow-ui/core-android/api/core-android.api
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/BindingViewRegistry.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/CompositeViewRegistry.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/ViewFactory.kt
  kotlin/workflow-ui/core-android/src/main/java/com/squareup/workflow/ui/ViewRegistry.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/BindingViewRegistryTest.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/CompositeViewRegistryTest.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/TestViewFactory.kt
  kotlin/workflow-ui/core-android/src/test/java/com/squareup/workflow/ui/ViewRegistryTest.kt
Labels: enhancement, kotlin

#1151 Upgrade coroutines library to latest version.
  kotlin/buildSrc/src/main/java/Dependencies.kt
Labels: dependencies, kotlin

#1156 Add insecure checksums gradle flag to fix Nexus release.
  kotlin/gradle.properties
Labels: bug, kotlin, meta

#1153 Validate dokka in CI.
  .github/workflows/kotlin.yml
Labels: documentation, kotlin, meta

#1157 Upload android instrumentation test results from CI.
  .github/workflows/kotlin.yml
Labels: kotlin, meta

#1158 Changelog for v0.28.0.
  CHANGELOG.md
Labels: kotlin, swift

#1166 Upgrade gradle to latest version.
  kotlin/gradle/wrapper/gradle-wrapper.properties
Labels: kotlin

#1169 Explicitly pass gradle home path for caching.
  .github/workflows/kotlin.yml
Labels: kotlin, meta

#1170 Upgrade coroutines library to latest version.
  kotlin/buildSrc/src/main/java/Dependencies.kt
  kotlin/workflow-tracing/src/test/java/com/squareup/workflow/diagnostic/tracing/TracingDiagnosticListenerTest.kt
  kotlin/workflow-tracing/src/test/resources/com/squareup/workflow/diagnostic/tracing/expected_trace_file.txt
Labels: dependencies, kotlin

#1171 Add README link to compose repo.
  README.md
Labels: documentation

#1175 Fix missing libswiftos.dylib
  Workflow.podspec
Labels: bug, swift

#1121 Add tests for tic tac toe
  Development.podspec
  swift/Samples/TicTacToe/Sources/Authentication/AuthenticationWorkflow.swift
  swift/Samples/TicTacToe/Sources/Game/Board.swift
  swift/Samples/TicTacToe/Sources/Game/GameState.swift
  swift/Samples/TicTacToe/Sources/Game/RunGameWorkflow.swift
  swift/Samples/TicTacToe/Sources/Game/TakeTurnsWorkflow.swift
  swift/Samples/TicTacToe/Sources/Main/MainWorkflow.swift
  swift/Samples/TicTacToe/Tests/AuthenticationWorkflowTests.swift
  swift/Samples/TicTacToe/Tests/ConfirmQuitWorkflowTests.swift
  swift/Samples/TicTacToe/Tests/LoginWorkflowTests.swift
  swift/Samples/TicTacToe/Tests/MainWorkflowTests.swift
  swift/Samples/TicTacToe/Tests/RunGameWorkflowTests.swift
  swift/Samples/TicTacToe/Tests/TakeTurnsWorkflowTests.swift
  swift/Samples/TicTacToe/Tests/TicTacToeTests.swift
Labels: swift, testing
